<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>username</title>
</head>
<body>

     <!--Overlay for username input -->
     <div id="overlay">
      <div id="overlay-text">
        <p>Username for this room: </p>
        <form action = 'usernameProcess' method="post">
          <input type="text" id="username" name= 'username' placeholder="Enter username" />
          <Button id="overlay-enter-button" type="submit" href = '/chatrooms' >Enter</Button>
        </form>
      </div>
    </div>

    <!-- <script>
      on = () => {
        document.getElementById("overlay").style.display = "block";
      };
      off = () => {
        document.getElementById("overlay").style.display = "none";
      };
      // const enter_btn = document.getElementById("overlay-enter-button");
      // enter_btn.addEventListener("click", function handleClick(event) {
      //   event.preventDefault(); //prevents page reload incase of uses of form
      //   const username = document.getElementById("username");
      //   //Do something with the username
      //   const user = username.value;
      //   console.log(user);
      //   username.value = "";
      //   off();
      // }); -->

  </script>
  
</body>
</html>